<%- include("partials/header.ejs") %>
<body>
    <div id="heading" class="box"><%- dow %>, <%- month %> <%- day %> </div>
    <div class="box">
        <div class="item">
            <input type="checkbox"><p>asjdlfjaslfjslf<p></li>
        </div>
    </div>
</body>
<%- include("partials/footer.ejs") %>

