<!DOCTYPE html>
<html>

<head>
  <title>People Go To Space</title>
  <link rel="stylesheet" type="text/css" href="styles/main.css">

</head>

<body>
    <h1><%- data.launchName %></h1>
    <h2>Expected Launch Date: <%- data.day %></h2>
    <div class="mission">
      <img src="<%- data.agencyLogo%>" alt="Agency Logo">
      <div class="info">
        <h3><%- data.missionName %></h3>
        <ul>
          <li>Agency: <%- data.agencyName %></li>
          <li>Country: <%- data.agencyCountryCode%></li>
          <li>Type: <%- data.missionType %></li>
          <li>Description: <%- data.missionDescription %></li>
          <li>Orbit: <%- data.missionOrbit %></li>
          <li>Status: <%- data.status %></li>
        </ul>
      </div>
    </div>
    <% if (data.agencyImage) { %>
      <div class="agency">
        <img src="<%- data.agencyImage %>" alt="Rocket Image">
      </div>
    <% } %>
</body>

</html>
